@import "compass",
          "_base";

.demo-box {
    $boxSize: 100px;
    width: $boxSize;
	height: $boxSize;
	background-color: #fff;
    @include box-shadow (0 0 1px #9aa6b2);
    @include fixed($top: 280px, $right: 100px);

    .flag,
	.shanabo {
        $flagSize: 80px;
        width: $flagSize;
        height: $flagSize;
        @include absolute($top: 50%, $left: 50%);
        @include border-radius (2px);
        margin: (-$flagSize /2) 0 0 (-$flagSize /2);
        //background: #F57F7F url('../images/mustache.png') no-repeat center center;
        background: #ffe8a4 url('../images/mustache.png') no-repeat center center;
        @include vendorize(animation-duration, 1s); 
    }
    
}

/* ===============[ Rotate ]=============== */

#openLb { 
    @include experimental('animation-name', openLDIn, $animation-support);
    &.active { @include experimental('animation-name', openLDOut, $animation-support); }
}

@include keyframes(openLDIn) {
  0%    { @include transform-origin( bottom, left ); }
  100%  { @include transform( rotate(-120deg) ); @include transform-origin( left, bottom ); }
}

@include keyframes(openLDOut) {
  0%    { @include transform( rotate(-120deg) ); @include transform-origin( bottom, left ); }
  100%  { @include transform-origin( left, bottom ); }
}


#openRb { 
    @include experimental('animation-name', openRDIn, $animation-support);
    &.active { @include experimental('animation-name', openRDOut, $animation-support); }
}

@include keyframes(openRDIn) {
  0%    { @include transform-origin( bottom, right ); }
  100%  { @include transform( rotate(120deg) ); @include transform-origin( bottom, right ); }
}

@include keyframes(openRDOut) {
  0%    { @include transform( rotate(120deg) ); @include transform-origin( bottom, right ); }
  100%  { @include transform-origin( bottom, right ); }
}

#openTl { 
    @include experimental('animation-name', openULIn, $animation-support);
    &.active { @include experimental('animation-name', openULOut, $animation-support); }
}

@include keyframes(openULIn) {
  0%    { @include transform-origin( top, left ); }
  100%  { @include transform( rotate(-150deg) ); @include transform-origin( top, left ); }
}

@include keyframes(openULOut) {
  0%    { @include transform( rotate(-150deg) ); @include transform-origin( top, left ); }
  100%  { @include transform-origin( top, left ); }
}


#openTr { 
    @include experimental('animation-name', openURIn, $animation-support);
    &.active { @include experimental('animation-name', openUROut, $animation-support); }
}

@include keyframes(openURIn) {
  0%    { @include transform-origin( top, right ); }
  100%  { @include transform( rotate(150deg) ); @include transform-origin( top, right ); }
}

@include keyframes(openUROut) {
  0%    { @include transform( rotate(150deg) ); @include transform-origin( top, right ); }
  100%  { @include transform-origin( top, right ); }
}

/* ===============[ Rotate fadeOut ]=============== */

#openLbfo { 
    @include experimental('animation-name', openLDInfo, $animation-support);
    &.active { @include experimental('animation-name', openLDOutfo, $animation-support); }
}

@include keyframes(openLDInfo) {
  0%    { @include opaque; @include transform-origin( bottom, left ); }
  100%  { @include transparent; @include transform( rotate(-120deg) ); @include transform-origin( left, bottom ); }
}

@include keyframes(openLDOutfo) {
  0%    { @include transparent; @include transform( rotate(-120deg) ); @include transform-origin( bottom, left ); }
  100%  { @include opaque; @include transform-origin( left, bottom ); }
}

#openRbfo { 
    @include experimental('animation-name', openRDInfo, $animation-support);
    &.active { @include experimental('animation-name', openRDOutfo, $animation-support); }
}

@include keyframes(openRDInfo) {
  0%    { @include opaque; @include transform-origin( bottom, right ); }
  100%  { @include transparent; @include transparent; @include transform( rotate(120deg) ); @include transform-origin( bottom, right ); }
}

@include keyframes(openRDOutfo) {
  0%    { @include transparent; @include transparent; @include transform( rotate(120deg) ); @include transform-origin( bottom, right ); }
  100%  { @include opaque; @include transform-origin( bottom, right ); }
}

#openTlfo { 
    @include experimental('animation-name', openULInfo, $animation-support);
    &.active { @include experimental('animation-name', openULOutfo, $animation-support); }
}

@include keyframes(openULInfo) {
  0%    { @include opaque; @include transform-origin( top, left ); }
  100%  { @include transparent; @include transform( rotate(-150deg) ); @include transform-origin( top, left ); }
}

@include keyframes(openULOutfo) {
  0%    { @include transparent; @include transform( rotate(-150deg) ); @include transform-origin( top, left ); }
  100%  { @include opaque; @include transform-origin( top, left ); }
}

#openTrfo { 
    @include experimental('animation-name', openURInfo, $animation-support);
    &.active { @include experimental('animation-name', openUROutfo, $animation-support); }
}

@include keyframes(openURInfo) {
  0%    { @include opaque; @include transform-origin( top, right ); }
  100%  { @include transparent; @include transform( rotate(150deg) ); @include transform-origin( top, right ); }
}

@include keyframes(openUROutfo) {
  0%    { @include transparent; @include transform( rotate(150deg) ); @include transform-origin( top, right ); }
  100%  { @include opaque; @include opaque; @include transform-origin( top, right ); }
}

/* ===============[ perspective ]=============== */

#presR { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presRIn, $animation-support);
    &.active { @include experimental('animation-name', presROut, $animation-support); }
}

@include keyframes(presRIn) {
  0%    { 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(0deg) ); 
    }
  100%  { 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(180deg) ); 
    }
}

@include keyframes(presROut) {
  0%  { 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(180deg) ); 
    }
  100%    { 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(0deg) ); 
    }
}

#presL { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presLIn, $animation-support);
    &.active { @include experimental('animation-name', presLOut, $animation-support); }
}

@include keyframes(presLIn) {
  0%    { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(0deg) ); 
    }
  100%  { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(-180deg) ); 
    }
}

@include keyframes(presLOut) {
  0%  { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(-180deg) ); 
    }
  100%    { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(0deg) ); 
    }
}


#presT { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presTIn, $animation-support);
    &.active { @include experimental('animation-name', presTOut, $animation-support); }
}

@include keyframes(presTIn) {
  0%    { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
  100%  { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(180deg) ); 
    }
}

@include keyframes(presTOut) {
  0%  { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(180deg) ); 
    }
  100%    { 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
}

#presB { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presBIn, $animation-support);
    &.active { @include experimental('animation-name', presBOut, $animation-support); }
}

@include keyframes(presBIn) {
  0%    { 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
  100%  { 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(-180deg) ); 
    }
}

@include keyframes(presBOut) {
  0%  { 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(-180deg) ); 
    }
  100%    { 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
}

/* ===============[ perspective fadeOut ]=============== */

#presRfo { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presRInfo, $animation-support);
    &.active { @include experimental('animation-name', presROutfo, $animation-support); }
}

@include keyframes(presRInfo) {
  0%    { 
		@include opaque; 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(0deg) ); 
    }
  100%  { 
		@include transparent; 
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(180deg) ); 
    }
}

@include keyframes(presROutfo) {
  0%  { 
		@include transparent;
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(180deg) ); 
    }
  100%    { 
		@include opaque;
        @include transform-origin( 100%, 0 ); 
        @include transform( perspective(800) rotateY(0deg) ); 
    }
}

#presLfo { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presLInfo, $animation-support);
    &.active { @include experimental('animation-name', presLOutfo, $animation-support); }
}

@include keyframes(presLInfo) {
  0%    { 
		@include opaque;
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(0deg) ); 
    }
  100%  { 
		@include transparent; 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(-180deg) ); 
    }
}

@include keyframes(presLOutfo) {
  0%  { 
		@include transparent; 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(-180deg) ); 
    }
  100%    { 
		@include opaque; 
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateY(0deg) ); 
    }
}

#presTfo { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presTInfo, $animation-support);
    &.active { @include experimental('animation-name', presTOutfo, $animation-support); }
}

@include keyframes(presTInfo) {
  0%    { 
		@include opaque;
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
  100%  { 
		@include transparent;
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(180deg) ); 
    }
}

@include keyframes(presTOutfo) {
  0%  { 
		@include transparent;
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(180deg) ); 
    }
  100%    { 
		@include opaque;
        @include transform-origin( 0, 0 ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
}

#presBfo { 
    @include backface-visibility(visible);
    @include experimental('animation-name', presBInfo, $animation-support);
    &.active { @include experimental('animation-name', presBOutfo, $animation-support); }
}

@include keyframes(presBInfo) {
  0%    { 
		@include opaque;
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
  100%  { 
		@include transparent; 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(-180deg) ); 
    }
}

@include keyframes(presBOutfo) {
  0%  { 
		@include transparent; 
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(-180deg) ); 
    }
  100%    { 
		@include opaque;
        @include transform-origin( 0, 100% ); 
        @include transform( perspective(600) rotateX(0deg) ); 
    }
}